asyncio==3.4.3
atomicwrites==1.4.0
attrs==19.3.0
boto3==1.13.12
botocore==1.16.12
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
dill==0.3.1.1
docopt==0.6.2
docutils==0.15.2
idna==2.9
itsdangerous==1.1.0
jmespath==0.10.0
loguru==0.5.0
MarkupSafe==1.1.1
more-itertools==8.3.0
packaging==20.4
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==5.4.2
pytest-reportportal==5.0.3
python-dateutil==2.8.1
python-json-logger==0.1.11
reportportal-client==5.0.3
requests==2.23.0
s3transfer==0.3.3
selenium==3.141.0
six==1.14.0
urllib3==1.26.5
wcwidth==0.1.9
Werkzeug==1.0.1
win32-setctime==1.0.1
xmltodict==0.12.0
